/* styles . css */
@import "~font-awesome/css/font-awesome.css";
.container {
  margin-left: 100px;
  margin-right: 100px;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.button {
  color: white;
  margin-right: 3px;
  background-color: #2d2a30;
  cursor: pointer;
  border: 0;
  padding: 4px;
  border-radius: 10px;
}
.button:hover {
  background-color: aqua;
  color: black;
  transition: 0.3s;
}
.body-customer {
  width: 1150px;
  height: fit-content;
  margin: 0px auto;
}
.body-admin {
  margin: 0;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  display: grid;
  height: fit-content;
}
div.inline {
  display: inline-block;
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.align-center {
  width: fit-content;
  margin: 0px auto;
}
.align-valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
}
.align-valign-center .text-center {
  margin-bottom: 10px;
}
.align-center .text-center {
  margin-top: 10px;
}
.text-center {
  text-align: center;
}
span.hover {
  margin-right: 10px;
  margin-left: 10px;
  border: 3px solid #2d2a30;
  border-radius: 15px;
  padding: 0 3px;
  background-color: #2d2a30;
  color: white;
}
span.link {
  cursor: pointer;
  color: blue;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
span.link:hover {
  color: black;
  border-bottom: solid 3px;
}
/* menu . css */
div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
  background-color: #2d2a30;
  width: auto;
}
div.float-left {
  float: left;
}
div.float-left .text-center {
  margin-top: 10px;
}
div.float-right {
  float: right;
}
div.float-right .text-center {
  margin-top: 10px;
}
div.float-right b {
  color: white;
}
div.float-right i {
  color: aqua;
}
div.float-right .linkofmenu {
  color: white;
  text-decoration: none;
  margin-right: 13px;
}
div.float-right .linkofmenu:hover {
  color: aqua;
}
div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
}
li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
li.menu .linkofmenu {
  text-decoration: none;
  color: white;
}
li.menu .linkofmenu:hover {
  color: aqua;
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 110px;
}
/* datatable . css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: #2d2a30;
  color: white;
}
/* even rows , except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows , except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: rgb(192, 232, 255);
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.image-container {
  position: relative;
}
.form-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}
